<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" [(ngModel)]="newEntry" (keyup.enter)="addTodo()">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="addTodo()">Add Task</button>
        </div>
      </div>
    </div>
    <div class="col-3">
      <h5 class="text-center">Current Tasks</h5>
      <button class="btn btn-success mb-2 w-100" [disabled]="selected.length === 0" (click)="complete()">Complete Tasks</button>
      <ul class="px-0">
        <li *ngFor="let item of list; index as i">
          <input type="checkbox" (change)="upsertSelected(item, $event.target.checked)">
          {{item}}
          <i class="far fa-times-circle remove" (click)="list.splice(i)" title="Remove this item"></i>
        </li>
      </ul>
    </div>
    <div class="col-3">
      <h5 class="text-center">Completed Tasks</h5>
      <ul class="px-0">
        <li *ngFor="let item of completed">
          {{item}}
        </li>
      </ul>
    </div>
  </div>
</div>